.firstJum{
  background-image: url(https://github.com/moringaschool/mpft-ip/blob/master/ip2/assets/backgrounds/landing.jpg?raw=true);
  margin: 0px;
}
.secondJum{
  color: white;
  font-size: 40px;
  background-color: #F15A29;

}
.rowPad{
  padding-top: 80px;
  padding-bottom: 80px;
  padding-left: 80px;
  padding-right: 80px;
}
.img1{
  float: right;
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 30px;
    font-style: italic;
}
.a{
   border: 2px solid red;
   background-color: white;
   color: black;
   padding: 14px 28px;
   font-size: 16px;
   cursor: pointer;
}
#miniDrink{
  font-weight: bold;
  font-size: 20px;
  text-align: right;
}
#miniFast{
  font-weight: bold;
  font-size: 20px;
}
.text{
  font-size: 50px;
  color: white;
}
.first{
  padding-top:75px;
  padding-left: 75px;
  padding-right: 75px;
  padding-bottom: 75px;
}
.second{
  padding-top:75px;
  padding-left: 75px;
  padding-right: 75px;
  padding-bottom: 75px;
}
.third{
  padding-top:75px;
  padding-left: 75px;
  padding-right: 75px;
  padding-bottom: 75px;
}
.column1{
  background-color: blue;
}
#header1{
  padding: 25px;
  background-color: grey;
}
#header2{
  padding: 25px;
   background-color: red;
}
#header3{
  text-align: right;
}
.nav{
  padding: 75px;
}
.well{
  margin-top: 20px;
  padding: 65px;
  border: 10px;
  border-color: black;
}
.center{
  text-align: center;

}
#colorH{
    color: white;
    font-weight: bolder;
    font-size: 30px;
}
